<ion-content class="login-content">
  <div class="login-container ion-padding">
    <div class="brand-block">
      <ion-icon name="shield-checkmark-outline" class="brand-icon"></ion-icon>
      <h1>Admin Panel</h1>
      <p>Secure access for authorized administrators.</p>
    </div>

    <ion-button expand="block" size="large" [disabled]="loading" (click)="continueWithGoogle()">
      <ion-spinner slot="start" *ngIf="loading"></ion-spinner>
      Continue with Google
    </ion-button>

    <ion-text color="danger" *ngIf="errorMessage">
      <p class="error-text">{{ errorMessage }}</p>
    </ion-text>
  </div>
</ion-content>
