<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button (click)="navigateToRoles()">
      <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
      <ion-label>Roles</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button (click)="navigateToAnalytics()">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      <ion-label>Analytics</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="logout-section">
    <ion-item button color="danger" (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label color="danger">Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
